@mixin transition($element,$speed) {
    transition: $element $speed ease-in-out;
    -webkit-transition: $element $speed ease-in-out;
    -moz-transition: $element $speed ease-in-out;
    -ms-transition: $element $speed ease-in-out;
    -o-transition: $element $speed ease-in-out;
}

@mixin translate($value1, $value2) {
    transform: translate($value1, $value2 );
    -webkit-transform: translate($value1, $value2 );
    -moz-transform: translate($value1, $value2 );
    -ms-transform: translate($value1, $value2 );
    -o-transform: translate($value1, $value2 );
}

@mixin radius($value) {
    border-radius: $value;
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    -ms-border-radius: $value;
    -o-border-radius: $value;
}