/* Theme CSS */
:root {
  --ff-arial: "arial";
  --bg-primary: #fff;
  --bg-secondary: #000;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
h1 {
    font-size: 70px;
}
h2 {
    font-size: 60px;
}
h3 {
    font-size: 50px;
}
h4 {
    font-size: 40px;
}
h5 {
    font-size: 30px;
}
h6 {
    font-size: 20px;
}

p{
    font-size: 18px;
    & a{
        text-decoration: none;
        
    }
   
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
    & li{
        padding: 0;
        margin: 0;
        position: relative;
        font-size: 18px;
    }
    & a{
        text-decoration: none;
    }
}
table{
    border:0;
    & thead{
        & tr{
            border:0;
            & th{
                font-size: 18px;
                border:0;
            }
        }
    }
    & tbody{
        & tr{
            & td{
                font-size: 18px;
                border:0;
            }
        }
    }
}